.idea/
.run/
*.iml
.DS_Store

.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.metadata
.packages
.pub/
.local_toolchain/
.local_toolchain_wrapped/
build/
coverage/

assets/config/local_app_config.json
assets/models/*.zip

